{% extends 'main.html' %}

{% block content %}


<!-- Main Section -->
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="card" style="max-width: 20rem;">
            <div class="card-body">
                <form class="form" method="POST" action="{% url 'edit-account' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    
                    <label>{{field.label}}</label>
                    <div class="form__field">
                    {% if field.name == "username" %}
                        <span class="form-control">{{field.value}}</span>
                    {% else %}
                        {{field}}
                    {% endif %}
                    </div>
                    {% endfor %}
                    <br />
                    <button class="btn btn-block btn-outline-dark" type="submit" value="Submit">Edit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}