{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Main Section -->
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="card" style="width: 20rem; max-width: 20rem;">
                <div class="card-body">
                    <h3>Password reset</h3>

                    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                    <br>
                    
                    <form class="form" method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <Button class="btn btn-block btn-outline-dark" type="submit">Send</Button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}