{% load static %}


<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/">J.gift</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'edit-account' %}">Edit Profile</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'account' %}">Gift Links</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Create your own link</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
